<div class="container">
  <h2>Om oss</h2>
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <p class="text">
        Lorem ipsum dolor sit amet, Lorem Lorem ipsum dolor sit amet, Lorem
        ipsum dolor sit amet, Lorem Lorem i Lorem ipsum dolor sit amet, Lorem
        Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem Lorem i
        Lorem ipsum dolor sit amet, Lorem Lorem ipsum dolor sit amet, Lorem
        ipsum dolor sit amet, Lorem Lorem i Lorem ipsum dolor sit amet, Lorem
        Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem Lorem i
      </p>
      <a href="/aboutus">More</a>
    </div>
  </div>
</div>
