<body>
  <!--- add link to "pages" instead of # --->
  <div class="complete-logo">
    <a href="" style="color: inherit; text-decoration-line: none">
      <img
        src="..\..\assets\img\GSS-Logo.png"
        width="45px"
        alt="Club Logo"
        class="align-left"
        id="logo"
      />
      <div class="logo-text">
        <h1>Göteborgs schacksällskap</h1>
        <h3>Södra Sveriges äldsta schackklubb sedan 1879</h3>
      </div>
    </a>
  </div>
  <div class="links">
    <ul class="nav nav-brand nav-justified">
      <link rel="stylesheet" href="navbar.component.css" />
      <a class="navbar-brand"> </a>
      <li class="nav-item" id="first">
        <a class="nav-link active" aria-current="page" href="">Hem</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="aboutus">Om oss</a>
      </li>
      <li class="nav-item" id="notInUse">
        <a class="nav-link" href="#">Medlemmar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="calendar">Kalender</a>
      </li>
      <li class="nav-item" id="notInUse">
        <a class="nav-link" href="#">Seriespel</a>
      </li>

      <li class="nav-item" id="notInUse">
        <a class="nav-link" href="#">Forum</a>
      </li>

      <li class="nav-item" id="last">
        <a class="nav-link" href="login">Logga in</a>
      </li>
    </ul>
  </div>
</body>
