h6 {
  font-size: 13px;
}

* {
  box-sizing: border-box;
}

/* Set a style for all buttons */
.edit-btn,
.trash-btn {
  border: 1px solid #036fa7;
  cursor: pointer;
  width: 45px;
  height: 45px;
  opacity: 1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn,
.deletebtn {
  float: center;
  width: 45%;
  height: 2em;
  border-radius: 0.5em;
  margin: 0.2em;
  border: 1px solid #036fa7;
}

.cancelbtn:hover,
.deletebtn:hover {
  opacity: 0.9;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.modalContainer {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
#id01 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 50px;
}

/* Modal Content/Box */
.delete-modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#newPostbtn {
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #036fa7;
}

#closeBtnTop {
  cursor: pointer;
}

#postModal {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}
